# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
vulkandemos/.vs
vulkandemos/rgba2yuv420/vcpkg_installed
vulkandemos/rgba2yuv420/x64
vulkandemos/x64
vulkandemos/encoder/x64
vulkandemos/triangle/x64
vulkandemos/ShareBufferBetweenInstance/x64
